<app-header></app-header>

<form action="">
    <div class="container mt-4">
        <div>
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="toggle-navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
              <div class="collapse navbar-collapse" id="navbar-content">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <h1 class="nav-link" style="font-size: xx-large;">Products</h1>
                  </li>
                  
                </ul>
              </div>
            </nav> 
            <div class="box">
                <div class="box-1"></div>
                <div class="box-2"></div>
              </div>
        </div>
        
        <table class="table table-bordered">
            <thead class="table-warning">
                <tr>
                    
                    <th scope="col">Product Code</th>
                    <th scope="col">Product Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Brand</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">Product Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <th scope="row">{{ product.productCode }}</th>
                    <td><img
                        alt="Image Not Found"
                        src="data:image/jpg;base64,{{product.productImage}}"
                        width="150" height="150"></td>
                    <td>
                        {{ product.productName }}
                    </td>
                    <td>
                        {{ product.productBrand }}
                    </td>
                    <td>
                        {{ product.productPrice |  currency:'INR'}}
                    </td>
                    <td>
                        {{ product.productDescription }}
                    </td>
                    
                    <td> <ul class="list-inline m-0">
                        <li class="list-inline-item">
                            <button class="btn btn-outline-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" #btn1 [id] = product.productCode (click)="editById(btn1)" title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fa fa-pencil-square-o" aria-hidden="true" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                              </svg></button>
                        </li>
                        <li class="list-inline-item">
                            <button #btn2 [id] = product.productCode class="btn btn-outline-danger btn-sm rounded-0" (click)="deleteByID(btn2)" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                              </svg></button>
                        </li>
                    </ul></td>
                </tr>
            </tbody>
        </table>
        <nav class="navbar navbar-expand-lg navbar-dark mx-background-top-linear">

            <div class="lh-1 mt-1">

                <h1 class="h4 mb-0 text-white lh-1">Total Products: {{totalProducts}}</h1>

            </div>

            <div>

                <ngb-pagination class="page-item" [collectionSize]="totalProducts" [(page)]="page" [pageSize]="pageSize"

                    (pageChange)="refreshProducts()">

                </ngb-pagination>

            </div>

            <div class="lh-1">
                <button type="button" class="btn btn-outline-info" routerLink="/admin/addproduct" >Add Product</button>
            </div>

          </nav>

    </div>
    
</form>
